*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    float: none;
	position: static;
    list-style: none;
}

body {
    -webkit-text-size-adjust: 100%;
    min-width: 1440px;
}

.phoneVer{
    display: none;
}
/*------------------------------------------*/
header{
    background-color: black;
    height: 80px;
    
}
.header-left{
    float: left;
}

.header-left img{
    margin-top: 6px;
    margin-left: 20px;
    display: inline-block;
}
.header-center h3{
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding-left: 100px;
    width: 380px;
}

.header-right{
    display: none;
}



/*==================================================
　5-2-8 3本線が横方向に回転して×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
 追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: fixed;
    top: 0;
    right: 0;
    width: 50px;
	border-radius: 5px;

}

/*ボタン内側*/


.openbtn span{
    display: inline-block;
    transition: all 0.5s;
    position: absolute;
    left: 5px;
    height: 4px;
    border-radius: 3px;
	background: #fff;
  	width: 70%;
}

.openbtn span:nth-of-type(1) {
	top:25px;
}

.openbtn span:nth-of-type(2) {
	top:37px;
}

.openbtn span:nth-of-type(3) {
	top:49px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/


.openbtn.active span:nth-of-type(1) {
    top: 31px;
    left: 4px;
    transform: translateY(6px) rotate(-45deg);
    width: 70%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 43px;
    left: 4px;
    transform: translateY(-6px) rotate(45deg);
    width: 70%;
}

/*------------------------------------------*/

.swich-wrapper{
    background-color: grey;
    text-align: center;
    border-bottom: 10px solid black;
   
}
.swich-wrapper a{
    padding: 20px 75px;
    background-color: white;
    display: inline-block;
    color: black;
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s;
    font-family: "Arial Black";   
}

.swich-wrapper a:hover{
    opacity: 1;
}

/*------------------------------------------*/


.schedule-wrapper{
    background-image: url(/img/schedule_back.jpg);
    background-size: 10%;
    height: 100%;
}

.schedule{
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.933);
    text-align: center;
}

.schedule img{
    margin: 100px 40px;
 }

.schedule h1{
    font-size: 45px;
    font-family: "Honoka_Shin_Mincho_L";
    font-style: italic;
    background: linear-gradient(transparent 35%,rgba(0, 255, 0, 0.674)90%);
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
}
.top{
    font-size: 25px;
    width: 800px;
    display: inline;
    padding-bottom: 50px;
}

.schedule-text{
    border-right: 2px dotted black;
    padding:0 20px;
}

.text{
    background: linear-gradient(transparent 50%,rgb(184, 161, 255)90%);
    width: 180px;
    text-align: center;
}
.schedule-text p{
    padding-left: 10px;
    margin-bottom: 20px;
}

.schedule2{
    display: flex;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.933);
    padding-bottom: 100px;
}
.schedule-img{
    margin-left: 70px;
    text-align: center;
    
}


.schedule-img h1{
    font-family: "azuki_font";
    font-size: 40px;
    margin-right: 85px;
    margin-bottom: 20px;
    
}
span{
    background: linear-gradient(transparent 30%,rgb(229, 255, 0)90%);
}

/*------------------------------------------*/


footer{
    height: 80px;
}

.fotter-logo p{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 80px;
}
